$color-primary: #e06126;
$color-primary-dark: #e04700;
$color-primary-light: #d7a993;

$color-secondary-dark: #08192b;
$color-secondary-light: #0e2a47;

$color-black-dark: #000f23;
$color-black-light: #5d7280;

$color-white: #ffffff;
$color-white-1: #f7f7f7;
