.header {
	//background-color: $color-secondary;
	position: absolute;
	z-index: 2;
	width: 100%;
}

.header__row {
	display: flow-root;
	padding: 3rem 0;
	max-width: 120rem;
	margin: 0 auto;
}

.header__logo {
	float: left;
	padding-left: 3rem;
}

.header__navigation {
	float: right;
	padding-top: .5rem;
	padding-right: 3rem;

	li {
		display: inline-block;
	}

	li:last-child {
		padding: 1rem 2rem;
		font-size: 1.6rem;
		background-color: $color-primary;
		border: .2rem solid $color-primary;
		border-radius: 5rem;

		&:hover {
			background-color: transparent;
			border: .2rem solid $color-white;
			cursor: pointer;
		}
	}

	li:not(:last-child) {
		padding-right: 2rem;
	}
}

.hero {
	position: relative;
	width: 100%;
	background-image: linear-gradient(
			to bottom right,
			rgba($color-secondary-light, .8),
			rgba($color-secondary-dark, .8)
		),
		url(../img/hero-home.jpg);
	background-position: bottom center;
	background-repeat: no-repeat;
	background-size: cover;
}
.hero__row {
	display: flow-root;
	max-width: 120rem;
	margin: 0 auto;
}
.hero__left-col {
	padding: 25rem 3rem 3rem;
	width: 67%;
}
